.center {
    text-align: center;
}

.stage-buttons .btn{
    margin: 5px;
}

.center-stage {
    margin-top: 20px;
}

@media only screen and (max-width: 50em) {
    .stage-buttons .btn {
         display: block;
    }
    .stage-buttons .spacer {
        display: none;
    }
}
